html {
  height: 100%;
  width: 100%;
}

/*Formatting elements*/
body {
  background-color: #f0f4fa;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.hanging-indent {
  list-style-type: none;
  padding-left: 30px;
  text-indent: -30px;
}

h1 {
  text-align: center;
}

h2 {
  background-color: #e8edf4;
  color: #23395d;
  text-align: center;
}

/*Changing color of bolded text*/
strong {
  color: #23395d;
}

/*Formatting size of the plastic recycling icons on Recycling 101*/
.icon {
  width: 100px;
  height: 100px;
}

/*Creating the Navigation Bar*/
.nav-bar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline;
}

.nav-bar a {
  float: left;
  text-align: center;
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.nav-bar {
  background-color: #026264;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index:7;
}

/*Changes the color of the tab in the Navigation Bar when the mouse hovers over it*/
.nav-bar a:hover {
  background: #23395d;
  color: white;
}

/*Changing the color of the current tab in the Navigation Bar*/
.active {
  background-color: #23395d;
}

/*Creating the button to start the AI model*/
button {
  color: white;
  background-color: #026264;
  border: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: auto;
  width: 100px;
  height: 50px;
}

button:hover {
  background: #23395d;
  color: white;
}

a {
  color:#23395d
}

/*Formatting AI webcam and result*/
#label-container{
  color:#23395d;
  text-align: center;
}

#webcam-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#webcam {
  max-width: 100%;
  max-height: 100%;
}

/*Formatting collapsible section of text*/
.collapsible {
  background-color: #026264;
  color: white;
  cursor: pointer;
  padding: 0 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.activeCollapsable, .collapsible:hover {
  background-color: #23395d;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #e8edf4;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  color: white;
  content: '\02795'; /* Unicode character for plus sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.activeCollapsable:after {
  content: "\2796"; /* Unicode character for minus sign (-) */
}

/*Formatting text into columns and rows*/
* {
  box-sizing: border-box;
}
.row{
  display:flex;
}
.column {
  flex: 50%;
  padding:10px;
}

/*Formatting the footer*/
footer {
  text-align: center;
  padding: 3;
  background-color: #e8edf4;
  color: #23395d;
  display: block;
}